.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-item.nav-link {
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for background and text color */
  /* Other styles for your nav-link */
}

.nav-link.active {
  /*border-radius: 20px; /* Adjust for desired pill shape */
  background-color: #007bff; /* Example background color */
  color: white; /* Text color for active link */
}

list {
  list-style-type: none;
}

.leaflet-container {
  width: 100%;
  height: 50vh;
  margin: 0;
  top: 0%;
}

.popup {
  background-color: #9382fe;
  color: rgb(247, 247, 251);
  border-radius: 12px;
  padding: 20px;
  width: 180px;
  height: 90px;
  text-align: center;
}

.info-panel {
  /* position: fixed; */
  right: 0;
  top: 40px;
  width: 300px; /* Adjust as needed */
  /* height: 50vh; */
  background-color: white;
  box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  /* display: none; Initially hidden */
}

.info-panel.open {
  display: block; /* Show when open */
}

.map-container {
  transition: margin-right 0.3s ease;
  width: 50%;
  margin: 0;
  padding: 0;
}
